.topbar {
  width: 100%;
  height: 50px;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
}

.topbarLeft,
.topbarRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topbarMiddle {
  flex: 6;
}

.topbarLeft {
  font-family: 'Lora', serif;
  font-weight: 500;
  font-size: 20px;
}
.logo {
  margin: 0px 5px;
  color: green;
}

.topImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5px;
  cursor: pointer;
}

.topList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.topListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300px;
  cursor: pointer;
}
.topSearchIcon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
  margin-left: 15px;
}
