.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      rgba(46, 44, 44, 0.5),
      rgba(37, 32, 25, 0.5)
    ),
    url('./loginPic.jpg');
  background-size: cover;
  color: white;
}
.loginTitle {
  font-size: 50px;
  border-bottom: 2px solid white;
}
.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.loginForm > label {
  margin: 10px 0px;
  font-size: 18px;
}
.loginInput {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
  outline: none;
}
.loginButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: lightcoral;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
  transition: all 2s ease;
}
.loginButton:disabled {
  cursor: not-allowed;
  background-color: rgb(248, 170, 170);
}
.loginRegisterButton {
  background-color: teal;
  cursor: pointer;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  min-width: 190px;
  transition: all 1s ease;
}
.error {
  color: red;
  margin-top: 10px;
}
.loginRegisterButton:hover,
.loginButton:hover {
  opacity: 0.7;
}
