.sidemenu-container {
  flex: 3;
  max-width: 200px;
  align-content: center;
  margin-right: 20px;
}
.sidemenu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.sidemenu-list-item {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  transition: all 0.5s ease;
}
.sidemenu-list-item:hover {
  background-color: teal;
}
.sidemenu-list-item-icon {
  margin-right: 5px;
}
